*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
  --main-color: #ff9100;
  --second-color: #ff0000;
}
.cover{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--main-color) 0%, var(--second-color) 100%);
    background-size: cover;
    background-position: center;
    border-radius: 0 0 25% 25%;
    box-shadow: 1px 10px 20px #00000058;
    animation: start1 0.5s ease-in-out forwards;
}
@keyframes start1 {
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -140px;
    margin-bottom: 20px;
    animation: start2 0.5s ease-in-out 0.2s forwards;
}
@keyframes start2 {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.content img{
    width: 250px;
    border-radius: 50%;
    box-shadow: 1px 10px 20px #00000058;
}
.content h1{
    margin: 20px 0 10px 0;
    font-size: 2.5rem;
    color: #000;
}
.content p{
    font-size: 1.2rem;
    color: #555;
}
.comm{
    text-align: center;
    margin: 40px;
    animation: start3 0.5s ease-in-out 0.4s forwards;
}
@keyframes start3 {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.comm a{
    padding: 25px 40px;
    font-size: 1.8rem;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 1px 1px 20px #00000058;
    transition: all 0.3s;
} 
.comm a:hover{
    background-color: var(--second-color);
    box-shadow: 1px 1px 30px #00000078;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0;
}
.links .link1{
    animation: start4 0.5s ease-in-out 0.6s forwards;
}
@keyframes start4 {
    0%{
        opacity: 0;
        transform: translateY(60px);
        scale: 1.08;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}
.links .link2{
    animation: start5 0.5s ease-in-out 0.8s forwards;
}
@keyframes start5 {
    0%{
        opacity: 0;
        transform: translateY(60px);
        scale: 1.08;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}
.links .link3{
    animation: start6 0.5s ease-in-out 1s forwards;
}
@keyframes start6 {
    0%{
        opacity: 0;
        transform: translateY(60px);
        scale: 1.08;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}
.links .link4{
    animation: start7 0.5s ease-in-out 1.2s forwards;
}
@keyframes start7 {
    0%{
        opacity: 0;
        transform: translateY(60px);
        scale: 1.08;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}
.links .link1, .links .link2, .links .link3, .links .link4{
    width: 85%;
    text-decoration: none;
    background: var(--main-color);
    padding: 20px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 20px #00000058;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.links .link1::before , .links .link2::before , .links .link3::before , .links .link4::before{
    content: '';
    position: absolute;
    left: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 0;
    background: #3e44ff;
    scale: 1;
    transition: all 0.8s;
}
.links .link2::before{
    background: #ff0055;
}
.links .link3::before{
    background: #00bbff;
}
.links .link4::before{
    background: #09ae00;
}
.links .link1:hover::before , .links .link2:hover::before , .links .link3:hover::before , .links .link4:hover::before{
    scale: 15.4;
}
.link1 .a1, .link1 .b1, .link2 .a2, .link2 .b2, .link3 .a3, .link3 .b3, .link4 .a4, .link4 .b4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}
.link1 .a1 i, .link2 .a2 i, .link3 .a3 i, .link4 .a4 i{
    font-size: 3rem;
    margin-left: -10px;
    background: #3e44ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 5;
}
.link2 .a2 i{
    background: #ff0055;
    z-index: 5;
}
.link3 .a3 i{
    background: #00bbff;
    z-index: 5;
}
.link4 .a4 i{
    background: #09ae00;
    z-index: 5;
}
.link1 .b1 i, .link2 .b2 i, .link3 .b3 i, .link4 .b4 i{
    font-size: 2.5rem;
    z-index: 5;
}
.link1 .a1 h1, .link2 .a2 h1, .link3 .a3 h1, .link4 .a4 h1{
    font-size: 2rem;
    z-index: 5;
}
.links .link1:hover , .links .link2:hover , .links .link3:hover , .links .link4:hover{
    box-shadow: 1px 1px 30px #00000078;
    scale: 1.01;
}
.foot{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: var(--main-color);
    animation: start8 0.5s ease-in-out 1.4s forwards;
}
@keyframes start8 {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}